<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a href="/">Home</a> | <a href="/skills">Skills List</a>
  <h1>Skills #<%= skillNum %></h1>
  <h3><%= skill.name %></h3>
  <h3>Complete: <%= skill.complete ? 'Yes' : 'No' %></h3>
  <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
</body>
</html>